*.pyc
__pycache__/
*~
*.1
*.csv
weak
log
*.xcodeproj
*.xcworkspace
.vscode/
doc/html/
doc/latex/
nohup.out
exp.ini
nohup.log
traffic_matrix.log
*.txt
.idea/
*.ini
*.pth
cmake-build-debug/
cmake-build-release/
*.out
*.egg-info/
_skbuild/
build/
*.so
traffic_matrix_fig/
*.hist
*.opt
*.npy
*.npz
*.pt
*.pth
/fig/
*.pdf
*.png

